[alias]
    s = status
    c = commit
    b = branch
    co = checkout
    ph = "!f() { branch=`git rev-parse --abbrev-ref HEAD`; git push origin $branch; }; f"
    phf = "!f() { branch=`git rev-parse --abbrev-ref HEAD`; git push origin $branch -f; }; f"
    pl = "!f() { branch=`git rev-parse --abbrev-ref HEAD`; git pull origin $branch; }; f"
    plr = "!f() { branch=`git rev-parse --abbrev-ref HEAD`; git pull --rebase origin $branch; }; f"
    pdb = "!f() { branch=`git rev-parse --abbrev-ref HEAD`; git push origin :$branch; }; f"
    r = rebase
    ra = rebase --abort
    ma = merge --abort
    rc = rebase --continue
    pr = "!f() { branch=`git rev-parse --abbrev-ref HEAD`; git pull --rebase origin $branch; }; f"
    tree = forest --pretty=format:\"%C(red)%h %C(magenta)(%ar) %C(blue)%an %C(reset)%s\" --style=15 --reverse --all --no-rebase
    unstage = reset HEAD --
    sync = "!f() { branch=`git rev-parse --abbrev-ref HEAD`; git pull --rebase origin $branch; git co master; git pull; git co $branch; git rebase master; }; f"
    d = "!f() { [ \"$GIT_PREFIX\" != \"\" ] && cd "$GIT_PREFIX"; git diff --color $@ | diff-so-fancy | less --tabs=4 -RFX; }; f"
    mt = mergetool
[color]
    ui = auto
[user]
	name = Denis Kolesnikov
	email = exdis@proton.me
[core]
	excludesFile = ~/.gitignore
    editor = vim
[push]
    default = simple
[github]
    user = exdis
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[pull]
	rebase = false
[init]
	defaultBranch = main
[merge]
  tool = vimdiff
[mergetool]
  prompt = true
[mergetool "vimdiff"]
  cmd = nvim -d $LOCAL $MERGED $REMOTE
[difftool]
  prompt = false
[diff]
  tool = vimdiff
[http]
	postBuffer = 157286400
